@tailwind base;

@tailwind components;

@tailwind utilities;

@import 'base/fonts.css';

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
}
